exclude .gitignore
exclude .pre-commit-config.yaml
exclude deciphon/test/minifam.fasta.gz
exclude deciphon/test/minifam.json.gz
exclude deciphon/test/pfam24.fasta.gz
exclude deciphon/test/pfam24.json.gz
include LICENSE.md
include README.md
include pyproject.toml
include setup.cfg
include setup.py
